html{
    background-color: rgb(237, 142, 237);
}

.title-color{
    color: #747
}

.main-title{
    color: rgb(93, 4, 93)
}

.global-nav-color{
    color:rgb(188, 130, 188);
    background-color: rgb(223, 12, 223);
}

.local-nav-color{
    color: rgb(223, 12, 223);
    background-color: rgb(188, 130, 188);
}

.border-list{
    list-style-type: none;
    border-style: dashed;
    border-width: 4px;
    padding: 10px;
    background-color: rgb(198, 184, 198);
}